<!DOCTYPE html>
 <html>
 <head>
 	<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
 </head>
   <body>
 	<h1>Welcome to our movie blog site, <%= @user.name %></h1> 
 	<p>You have successfully signed up, The email address we have stored for you is: <% @user.email %> </p>  
 	<p>Thanks for joining, keep on blogging!!!!</p> 
	
   </body> 
 </html> 
